<tr style="cursor: pointer" onclick="window.location='index.php?class=PessoaForm&method=edit&id={id}'">
    <td align='center'>
        <a href='index.php?class=PessoaForm&method=edit&id={id}'>
            <i class='ph-fill ph-pencil'></i>
        </a>
    </td>
    <td align='center'>
        <a href='index.php?class=PessoaList&method=delete&id={id}' class="delete">
            <i class='ph-fill ph-trash'></i>
        </a>
    </td>
    <td> {id} </td>
    <td> {name} </td>
    <td> {email} </td>
    <td> {endereco} </td>
    <td> {bairro} </td>
    <td> {tel} </td>
</tr>