<!doctype html>
<html lang="pt-br" data-bs-theme="auto">

<head>
    <script src="../Layout/js/color-modes.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Login</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sign-in/">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">

    <link href="./Layout/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./Layout/css/sign-in.css" rel="stylesheet">
</head>

<body class="d-flex align-items-center flex-column py-4 bg-body-tertiary">
    <main class="form-signin w-100 m-auto">
        <form class="d-flex  flex-column" method="post" action="index.php?class=Login&method=signIn">
            <img class="mb-4 align-self-center" src="{logo}" alt="" width="120" height="35">
            <h1 class="h3 mb-3 fw-normal align-self-center">Faça seu login</h1>

            <div class="form-floating mb-2">
                <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
                <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating mb-2">
                <input type="password" class="form-control" id="floatingPassword" name="password"
                    placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            <button class="btn btn-primary w-100 py-2 fw-bold text-uppercase mb-2" type="submit">Conecte-se</button>
            <div class="d-flex justify-content-center align-items-center">
                <a href="index.php?class=Register">Registre-se</a>
            </div>
        </form>
    </main>
    <script src="./Layout/js/bootstrap.bundle.min.js"></script>

</body>

</html>